.mdl-textfield__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    display: block;
    font-size: 20px;
    font-family: "Helvetica","Arial",sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: center;
    color: inherit;
}


button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored {
    position: fixed;
    bottom: 25px;
    right: 25px;
}
.mdl-textfield__label {
    bottom: 0;
    color: rgba(169, 162, 162, 0.99);
    font-size: 15px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 24px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.mdl-textfield.mdl-js-textfield.cdn.is-upgraded {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 600px;
    max-width: 50%;
    margin: 0 15px;
    padding: 20px 0;
}

table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp.is-upgraded {
    margin: auto;
    width: 50%;
}

.mdl-cell.mdl-cell--12-col {
    text-align: center;
}

.mdl-textfield {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 350px;
max-width: 100%;
margin: 0 105px !important;
  padding: 20px 0;
}



p {
    text-align: center;
    margin: auto !important;
    width: 400px;
}

.mdl-textfield__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    display: block;
    font-size: 20px;
    font-family: "Helvetica","Arial",sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
}
